.header{
   
    width: 100%;
}

/* nav styling */
.header__nav{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;

}
/* top menu style */
.header__menu a{
    display: block;
   
}
/* side menu style */
/* .header__side-menu a{
    display: block;

   
} */
/* .side-menu{
    max-height: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
} */
.header__toggle-menu a{
    display: block;
    
}
.header{
    position: fixed;
    z-index: 1;
   
}
.header__main{
    background-color: var(--clr-secondary);
    padding: 0 10px;
}
.header__side-menu{
    width: 300px;
    background-color: var(--clr-secondary);
   
}
.header__side-menuu{
    display: none;
    width: 300px;
    background-color: var(--clr-secondary);
    padding-left: 30px;
}

.header__nav{
    max-height: 0;
    transition: max-height .5s ease-out;
    background-color: var(--clr-secondary);
    width: 300px;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 20px ;

   
}
.header__main{
    padding:20px;
    font-size: var(--fs-xs);
}
.header__hamb{
    cursor: pointer;
    float: right;
    padding: 10px 20px;
}/* Style label tag */

.header__hamb-line {
    background: var(--clr-primary-dark);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */
 .header__side-menu__title{
    padding: 10px 0;
 }
 .header__side-menu__item{
    padding-left:10px ;
 }

.header__hamb-line::before,
.header__hamb-line::after{
    background:  var(--clr-primary-dark);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.header__hamb-line::before{
    top: 5px;
}
.header__hamb-line::after{
    top: -5px;
}
.header__toggle-menu {
    display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.header__toggle-menu:checked ~ nav{
    max-height: 100%;
    height: 550px;
    overflow-y: scroll;
    padding-bottom: 20px;
}
.header__toggle-menu:checked ~ .header__hamb .header__hamb-line {
    background: transparent;
}
.header__toggle-menu:checked ~ .header__hamb .header__hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.header__toggle-menu:checked ~ .header__hamb .header__hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.header__side-menuu li h3{
    margin-top: 10px;
}

a:hover{
    
    background-color: var(--clr-primary-dark);
    color: var(--clr-primary);
    padding:  0 10px;
    border-radius: 5px;

}
/* //color page */
.colour__swatch-design{
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    
   
}
.primary-text{
    background-color: var(--clr-primary-dark);
    color: var(--clr-primary);
}
.primary-bg{
    background-color: var(--clr-primary);
    color: var(--clr-primary-dark);
}
.secondary-text{
    background-color: var(--clr-secondary-dark);
    color: var(--clr-secondary);
}
.secondary-bg{
    background-color: var(--clr-secondary);
    color: var(--clr-secondary-dark);
}
.colour__clr-accent{
background-color: var(--clr-accent);
}
.text-primary{
    color:var(--clr-primary-dark);
}
.bg-primary{
    background-color: var(--clr-primary);
}
.text-secondary{
    color: var(--clr-secondary-dark);
}
.bg-secondary{
    background-color: var(--clr-secondary);
}
.accent-clr{
color: var(--clr-accent);
}
.active{
    background-color: var(--clr-primary-dark);
    color: var(--clr-primary);
    padding: 0 10px;
    border-radius: 5px;
}
.table-headings{
    text-align: left;
}
.colors-table th, td{
    padding-left: 50px;
    margin-top: 20px;
}
.colour__primary-clr{
    padding-top: 60px;
}
.color-combinations__box{
    border: 1px solid;
    
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
.color-combinations__box__title{
    display: flex;
    justify-content: space-between;
}
svg{
    width: 16px;
    cursor: pointer;
}
.border-white{
    border: 1px solid var(--clr-primary-dark);
}

/* Typography */
.font-families__font-crimson{
    font-family: var(--ff-primary);
   
}
.font-families__font-libre{
    font-family: var(--ff-libre);
}
.font-uses__b-text{
    font-size: 1.1rem;
}
.colors-table{
    display: none;
}
.classes__heading-box{
    background-color: var(--clr-secondary);
    padding: 20px;
    border-radius: 10px;
}
.Utility__classes__heading-box--flex{
    display: flex;
    justify-content: space-between;
}
.utility-classes__desc{
    display: flex;
    justify-content: space-between;
}
.ulitity-classes{
    background-color: var(--clr-secondary);
    padding: 20px;
    border-radius: 10px;
}
.font-families{
    padding-top: 5.5rem;
}
.classes__heading-box h2, .ulitity-classes h2{
padding-bottom: 20px;
}

/* spacing */
.spacing__side-list__list{
    list-style-type: disc;
   
}
.spacing__example__box__border{
    border: 1px solid;
    height: 70px;
    width: 300px;
    
}
.spacing__example__box__show{
    width: 200px;
    height: 50px;
   
}

.spacing h1{
    padding-top: 5rem;
}

/* Containers */
.containers__table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-color:grey !important;
}
tr{
    border-bottom: 1px solid;
}
.container__classes{
    background-color: var(--clr-secondary);
    padding: 20px;
    border-radius: 10px;
}
.container__classes h2{
    padding-bottom: 10px;
}
.containers__table{
    display: none;
}
.containers{
    padding-top: 80px;
}
/* flex box */
.containers__flex__box {
    width: 100px;
    height: 100px;
    
    border: 1px solid var(--clr-primary-dark);
  }

  .containers__flex {
    text-align: center;
  }
  .containers__flex__utility-classes{
    text-align: left;

  }
  .container__flex__utility-classes h2{
    text-align: center;
  }
  /* Grid */

  .containers__grid{
    text-align: center;
  }
  .containers__grid__utility-classes{
    text-align: left;
  }
  .containers__grid__utility-classes h2{
    text-align: center;
  }
  .containers__grid__box {
    
    border: 1px solid var(--clr-primary-dark);
    text-align: center;
    padding: 20px;
  }
  /* about-me  */
  .about-me-desktop{
    display: none;
  }
  

/* Responsive */
@media (min-width: 768px) {
/* .header{
    z-index: -1;
} */

    .header__nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        flex-wrap: nowrap;
        padding-top: 0;
       
        
    }
    .colors-table{
        padding-top: 20px;
    }
    
    .header__menu li{
        padding-left: 10px;
    }
    .header__side-menuu{
        padding: 20px;
        font-size: var(--fs-xs);
        height: 100vh;
        position: fixed;
        padding-top: 70px;
    }
   
    .header__menu li{
        float: left;
    }
 

    .header__hamb{
        display: none;
    }
    .header__side-menu{
        display: none;
    }
    .header__side-menuu{
        display: block
    }
    /* .header__side-menuu li{
        display: flex;
        flex-direction: column;
    } */

    .margin-padding{
        margin: 0 50px 0 370px !important;
        padding-top: 100px;
        z-index: 1;
    }
    .colors-table{
        display: block;
    }
    .colour__primary-clr{
        display: none;
    }
    .colour__secondary-clr{
display: none;
    }
    .colour__accent{
        display: none;
    }
    .color-combinations__box{
        width: 50%;
        padding: 10px 20px;
        border-radius: 10px;
    }
    .header__toggle-menu:checked ~ nav{
        
        height: unset;
        overflow-y: unset;
    }
    .font-families{
        padding-top: unset;
    }
    .classes__heading-box, .ulitity-classes{
        width: 50%;
    }
    .spacing h1{
        padding-top: unset;
    }
    .containers__table{
        display: block;
    }
    .containers{
        padding-top: unset;
    }
    .container-mobile{
        display: none;
    }
    .container__classes{
        width: 50%;
    }
    .about-me-mobile{
        display: none;
    }
    .about-me-desktop{
        display: flex;
    }
}
