:root{
--clr-primary: #000000;
--clr-secondary: #333333;
--clr-accent: #333333;
--clr-light: #F5F5F5;
--clr-white: #FFFFFF;
}

body,html{
box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,p,picture,figure{
    margin: 0;
}
ul,li{
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--clr-primary);
}
.header{
   
    width: 100%;
}
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;

}
.menu a{
    display: block;
   
}
.side-menu a{
    display: block;

   
}
/* .side-menu{
    max-height: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
} */
.toggle-menu a{
    display: block;
    
}
.side-menuu{
    display: none;
}
.menu a:hover{
    background-color: var(--clr-secondary);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 10px 20px;
}/* Style label tag */

.hamb-line {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
.toggle-menu {
    display: none;
} /* Hide checkbox */