:root{
--clr-primary: #000000;
--clr-secondary: #333333;
--clr-accent: #333333;
--clr-light: #F5F5F5;
--clr-white: #FFFFFF;
}

body,html{
box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,p,picture,figure{
    margin: 0;
}
ul,li{
    padding: 0;
}
li{
    list-style: none;
}
