
:root{
    /* colors variable */
--clr-primary-dark: #2b2c34;
--clr-primary: #fffffe; 
--clr-secondary: #d1d1e9;
--clr-secondary-dark: #6246ea ;
--clr-accent:#e45858;
/* font family varibale */
--ff-primary:'Crimson Text', serif;
/* font size variable */
--fs-xs:1.1rem;
--fs-sm:1.25rem;
--fs-md:1.5rem;
--fs-large:2rem;
--fs-xl:2.5rem;
/* font weight variable */
--fw-normal:400;
--fw-bold:600;
--fw-bolder:700;
 
}

body,html{
box-sizing: border-box;
font-family: var(--ff-primary);
}
body,h1,h2,h3,h4,h5,p,picture,figure{
    margin: 0;
    /* font-family: var(--ff-primary); */
    
}
h1,h2,h3,h4,h5{
    /* font-family: var(--ff-libre); */
}

ul,li{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--clr-primary-dark);
}
/* backgound color utility classes */
.u-bg-primary-dark {
    background-color: var(--clr-primary-dark);
}

.u-bg-primary {
    background-color: var(--clr-primary);
}

.u-bg-secondary {
    background-color: var(--clr-secondary);
}

.u-bg-secondary-dark {
    background-color: var(--clr-secondary-dark);
}

.u-bg-accent {
    background-color: var(--clr-accent);
}

/* text colors utility classes */
.u-text-primary-dark {
    color: var(--clr-primary-dark);
}

.u-text-primary {
    color: var(--clr-primary);
}

.u-text-secondary {
    color: var(--clr-secondary);
}

.u-text-secondary-dark {
    color: var(--clr-secondary-dark);
}

.u-text-accent {
    color: var(--clr-accent);
}


/* Utility classes for typography */
/* utilty class for font family */
.u-ff-serif{
    font-family: var(--ff-primary);
}
/* utilty class for font size */
.u-fs-xs{
    font-size: var(--fs-xs);
}
.u-fs-sm{
    font-size: var(--fs-sm);
}
.u-fs-medium{
    font-size: var(--fs-md);
}
.u-fs-large{
    font-size: var(--fs-large);
}
.u-fs-xl{
    font-size: var(--fs-xl);
}
/* utilty class for font weight */
.u-fw-normal{
    font-weight: var(--fw-normal);
}
.u-fw-bold{
    font-weight: var(--fw-bold);
}
.u-fw-bolder{
    font-weight: var(--fw-bolder);
}
/* utilty class for line height */
.u-lh{
    line-height: 1.3rem;
}
/* utilty class for letter spacing */
.u-letter-sp{
    letter-spacing: 0.0010rem;
}
